@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap");

#about .icons {
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#about .icons i {
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
    padding: 1rem;
}

@media (max-height: 500px) {
    #about .icons i {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        padding: 1rem;
    }
}

#about #html {
    color: orange;
}

#about #css {
    color: blue;
}

#about #js {
    color: yellow;
}

#about #node {
    color: green;
}

#about #react {
    color: turquoise;
}

#about embed {
    width: 60vw;
    height: 70vh;
    margin: 1rem 0 auto;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 5px black;
}

.cv_container {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}

.dwldcv {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 25px;
    background-color: black;
    color: yellow;
    border: 0;
    text-shadow: 1px 1px black;
    text-decoration: none;
    box-shadow: 0px 0px 5px white;
}

.dwldcv:focus,
.dwldcv:active {
    outline: none;
}

.dwldcv:hover {
    color: whitesmoke;
    box-shadow: 0px 0px 5px yellow;
}

@media (max-width: 700px) {
    #about .icons {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #about .icons i {
        width: 7rem;
        height: 7rem;
        font-size: 7rem;
        padding: 0;
    }

    #about embed {
        display: none;
        width: 90vw;
        height: 55vh;
        margin: 12vh 0 auto;
        border-radius: 25px;
    }
}
