#about .icons {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#about .icons i {
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  padding: 1rem;
}

#about #html {
  color: orange;
}

#about #css {
  color: blue;
}

#about #js {
  color: yellow;
}

#about #node {
  color: green;
}

#about #react {
  color: turquoise;
}

#about embed {
  width: 60vw;
  height: 78vh;
  margin: auto;
  border-radius: 25px;
}

@media (max-width: 560px) {
  #about .icons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #about .icons i {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    padding: 1rem;
  }

  #about embed {
    width: 90vw;
    height: 65vh;
    margin: 12vh 0 auto;
    border-radius: 25px;
  }
}
