@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap");

#about .icons {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#about .icons i {
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  padding: 1rem;
}

#about #html {
  color: orange;
}

#about #css {
  color: blue;
}

#about #js {
  color: yellow;
}

#about #node {
  color: green;
}

#about #react {
  color: turquoise;
}

#about embed {
  width: 60vw;
  height: 72vh;
  margin: 1rem 0 auto;
  border-radius: 25px;
}

#dwldcv {
  position: fixed;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 25px;
  background-color: black;
  color: red;
  border: 0;
  text-shadow: 1px 1px black;
}

#dwldcv:focus,
#dwldcv:active {
  outline: none;
}

#dwldcv:hover {
  color: whitesmoke;
}

@media (max-width: 700px) {
  #about .icons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  #about .icons i {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    padding: 1rem;
  }

  #about embed {
    width: 90vw;
    height: 60vh;
    margin: 12vh 0 auto;
    border-radius: 25px;
  }
}
