@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

.home {
  font-family: "Heebo", sans-serif;
  --primary-color: black;
  --secondary-color: red;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 3px;
  transform-origin: bottom center;
  /* transition: all 0.5s ease-in; */
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 90px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 90px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 60px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}

@media (max-height: 500px) {
  .time {
    font-size: 40px;
  }

  .clock {
    width: 150px;
    height: 150px;
  }

  .needle.second {
    height: 70px;
  }

  .needle.minute {
    height: 60px;
  }

  .needle {
    height: 40px;
  }
}
