@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Redressed&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
.p_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
}

#projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: #1d1d1d;
    box-shadow: 1px 1px 2px 2px #000;
    height: 16px;
    width: 16px;
    margin: 4px;
    transition: 2s ease;
    z-index: 50;
}

.square:hover {
    transition-duration: 0s;
}

.p_projects {
    position: relative;
    width: 400px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--color-1);
    box-shadow: 2px 2px 2px 5px black;
    z-index: 55;
}

.p_open {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-image: var(--color-1-gr);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateY(100%);
}

.p_projects:hover .p_open {
    transform: translateY(0);
}

.open_project {
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    cursor: pointer;
    border: 0px;
    border-radius: 15px;
    transition: all 0.3s ease;
    width: auto;
    height: auto;
    background-color: var(--color-2-btn);
}

.open_project:focus,
.open_project:active {
    outline: none;
}

.open_project:hover {
    background-color: var(--color-2);
}

.projName {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 15%;
    width: 100%;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.p_projects a {
    text-decoration: none;
}

.p_projects a:link,
.p_projects a:active,
.p_projects a:visited {
    color: inherit;
}

/* img carousel */

.carousel img {
    width: 400px;
    height: 400px;
    /* object-fit: cover; */
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.image-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.imgContainerDiv {
    width: 400px;
    height: 400px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* //////////////////////////////// */

.project_name {
    width: 100%;
    height: 10%;
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.7rem;
}

.project_photo {
    width: 100%;
    height: 70%;
    background-color: teal;
}

.project_ctrl_bar {
    width: 100%;
    height: 20%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    color: black;
}

.project_ctrl_bar .ctrlBox {
    /* border: 3px solid black; */
    box-shadow: 0px 0px 5px black;
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    text-shadow: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat', cursive;
}

.project_ctrl_bar .ctrlBox i{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   text-shadow: none;
   color: rgb(255, 255, 255);
   background-color: black;
}


.project_ctrl_bar .ctrlBox i:hover {
    color: rgb(44, 44, 44);
   background-color: rgb(233, 233, 233);
}

.project_ctrl_bar .open {
    cursor: pointer;
}
.project_ctrl_bar .open:hover {
    background-color: rgb(44, 44, 44);
   color: rgb(233, 233, 233);
}

.project_ctrl_bar .open a,
.project_ctrl_bar .github a{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.project_ctrl_bar .info {
  cursor: help;
  
}



.project_ctrl_bar .github {
    cursor: pointer;
}

.project_info {
    position: absolute;
    left: 0px;
    top: 10%;
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    /* z-index: 10; */
    transform: translateY(-120%);
    opacity: 0%;
}

.info:hover + .project_info {
    transform: translateY(0);
    opacity: 100%;
}